In [1]:
import pandas as pd
from qiime2 import Artifact
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
method = 'dada2-pe'

### PART 1 - PLOT OF SINGLE STUDY'S REPRESENTATIVE SEQS (DONE BY TOURMALINE)

### NOT UPDATED - SEE PNG IN THIS FOLDER FOR LAST UPDATE

#### Run Rscript run_odseq.R

Arguments:

1. input: aligned_dna_sequences.fasta
2. odseq_distance_metric: type of distance metric to be computed (choose from: linear, affine)
3. odseq_bootstrap_replicates: number of bootstrap replicates to be run (integer)
4. odseq_threshold: probability to remain at the right of the bootstrap scores distribution when computing outliers (float)
5. output: aligned_dna_sequences_outliers.csv

%%capture
! Rscript --vanilla ../scripts/run_odseq.R \
../02-output-dada2-pe/01-alignment-tree-taxonomy/aligned_dna_sequences.fasta \
affine \
1000 \
0.025 \
../02-output-dada2-pe/01-alignment-tree-taxonomy/aligned_dna_sequences_outliers.csv

#### Merge representative sequences properties

inputs = {'lengths': "../02-output-%s/00-table-repseqs/representative_sequences_lengths.txt" % method,
         'gaps': "../02-output-%s/01-alignment-tree-taxonomy/aligned_dna_sequences_gaps.txt" % method,
         'outliers': "../02-output-%s/01-alignment-tree-taxonomy/aligned_dna_sequences_outliers.csv" % method,
         'taxonomy': "../02-output-%s/01-alignment-tree-taxonomy/taxonomy.qza" % method}

outputs = {'csv': "../02-output-%s/01-alignment-tree-taxonomy/representative_sequences_properties.csv" % method,
          'pdf': "../02-output-%s/01-alignment-tree-taxonomy/representative_sequences_properties.pdf" % method}

lengths = pd.read_csv(inputs['lengths'], header=None)
gaps = pd.read_csv(inputs['gaps'], header=None)
outliers = pd.read_csv(inputs['outliers'], header=None)
taxonomy = Artifact.load(inputs['taxonomy'])
taxonomydf = taxonomy.view(view_type=pd.DataFrame)
taxonomydf['level_1'] = [x.split(';')[0] for x in taxonomydf['Taxon']]

merged = pd.concat([lengths, gaps, outliers[1], taxonomydf['level_1'].reset_index(drop=True)], 
                   axis=1, ignore_index=True)
merged.columns = ['representative_sequence', 'length', 'gaps', 'outlier', 'taxonomy_level_1']
merged.to_csv(outputs['csv'], index=False)

#### Plot representative sequences properties

fig, ax = plt.subplots()
sns.scatterplot(ax=ax, data=merged, x='length', y='gaps', style='outlier', hue='taxonomy_level_1')
plt.savefig(outputs['pdf'])

### PART 2 - DADA2 TRUNCATION LENGTH

In [9]:
root = '/Users/luke.thompson/projects/erie/parameter-testing-2018-16s'

In [19]:
df = pd.DataFrame()
for t in ['f150-r150', 'f150-r200']:
    path_lengths = '%s/tourmaline-%s/02-denoised/dada2-pe/representative_sequences_lengths.txt' % (root, t)
    lengths = pd.read_csv(path_lengths, header=None)
    lengths['truncs'] = t
    df = pd.concat([df, lengths])

In [20]:
df

                                      0    1     truncs
0      b744eae1244325f606575483df0de67e  253  f150-r150
1      9cfa52be027c8fa57d197b21dd7a958c  253  f150-r150
2      107b9a5a275af37aa42aba0fafa2a6d4  253  f150-r150
3      3f456a18968cea5c5e549e281f0f5808  253  f150-r150
4      3b26ecfcd2d6fcb7e7a3493e5788c1bc  253  f150-r150
...                                 ...  ...        ...
12116  2a0a5fc8bf993811cca7fae2baf3acf2  253  f150-r200
12117  fd6ce4e605b1f4ec3c9cccae070d1e38  281  f150-r200
12118  57992f377f812690f6cb05538d3ed727  281  f150-r200
12119  fdfe74e5dd4e95ba05076cbc36ce939d  283  f150-r200
12120  3df68af2fc2d86701d0461fd25ec30a8  254  f150-r200

[23687 rows x 3 columns]

In [21]:
df.groupby('truncs').max()

                                          0    1
truncs
f150-r150  fffed806c039778551e927d8b0579f48  288
f150-r200  fffed806c039778551e927d8b0579f48  338

In [22]:
df.groupby('truncs').min()

                                          0    1
truncs
f150-r150  0004f9e2fe26685a8a52da0e4bf2d78c  150
f150-r200  0004f9e2fe26685a8a52da0e4bf2d78c  200

In [23]:
sns.distplot?